.liverpool {
    background-color: red;
    color: white;
}

.evertoon {
    background-color: blue;
    color: black;
}

.manchester {
    background-color: rgb(252, 13, 13);
    color: yellow;
}